@import url('https://fonts.googleapis.com/css?family=Livvic:wght@100;200;300;400;500;600;700;800;900');
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


/* .sidecart::-webkit-scrollbar{
    display: hidden;
} */
.sidecart::-webkit-scrollbar {
    display: block;
    width: 4px;
    
    background: #fff;
}

.sidecart::-webkit-scrollbar-thumb {
    background-color: #56E0DD;
    
    
}
body::-webkit-scrollbar {
    display: block;
    width: 6px;
    background: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #a3a3a3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* 
.main{

    background-image: url("../public/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.dropdown{
    z-index: 99;
}

.sidecart{
    z-index: 50;
}